html, body {
    margin:0;
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .signoutbtn {
    position: relative;
    top: 10px;
    right: 10px;
  }