<!doctype html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    
    <title>Login Page</title>
    
    <!-- Custom styles for this template -->
    <link href="login.component.css" rel="stylesheet">
</head>
<body class="text-center mx-auto mt-5">
    
  <main class="form-signin">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 class="mb-4">Login Page</h1>
      <h2 class="h3 mb-3 fw-normal">Please sign in</h2>

      <div class="form-floating">
        <input formControlName="email" name="email" type="email" class="form-control" placeholder="Email Address">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      </div>

      <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Sign in</button>
      <div class="text-muted">Not registered? <a routerLink="/sign-up">Sign up!</a></div>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>

    <!-- create clearStorage button for easy testing -->
    <div class="text-center">
      <button type="button" class="btn btn-danger" onclick="window.sessionStorage.clear(); document.location.reload()">Clear sessionStorage</button>
    </div>
  </main>

    


  </body>
</html>

