<div class="container-md pt-3">
    <div class="text-center">
        <h1 id="top" class="mb-4 d-inline">Add Test Question</h1>
        <h6 class="text-muted">Please select your correct answer</h6>
    </div>
    
    <br>
    
    <div class="card mb-2">
        <form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
            <div class="card-header">
                <input class="card-header" formControlName="questionText" name="text" type="text" class="form-control" placeholder="Enter Question">
            </div>
            
            <div class="card-body">
        
                <div class="form-check">
                    <input formControlName="correctAns" class="form-check-input" name="correctAns" type="radio" value="0">
                    <input formControlName="op1" type="text" class="form-control" placeholder="Enter Option 1">
                </div>
                
                <div class="form-check">
                    <input formControlName="correctAns" class="form-check-input" name="correctAns" type="radio" value="1">
                    <input formControlName="op2" type="text" class="form-control" placeholder="Enter Option 2">
                </div>
    
                <div class="form-check">
                    <input formControlName="correctAns" class="form-check-input" name="correctAns" type="radio" value="2">
                    <input formControlName="op3" type="text" class="form-control" placeholder="Enter Option 3">
                </div>
    
                <div class="form-check">
                    <input formControlName="correctAns" class="form-check-input" name="correctAns" type="radio" value="3">
                    <input formControlName="op4" type="text" class="form-control" placeholder="Enter Option 4">
                </div>
            </div>
            
            <div class="text-center"><button class="w-50 btn btn btn-primary mb-2 float-center" type="submit">Submit</button></div>
            
        </form>
        
    </div>

</div>
