html, body {
    margin:0;
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .signoutbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
